<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611607906934-epib9ju1u7gfncihv8dujboscn2lstdv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611607906934-epib9ju1u7gfncihv8dujboscn2lstdv</string>
	<key>API_KEY</key>
	<string>AIzaSyBNc0HcW9LnqLVI1DQVt5dYr4F5D6F9DQg</string>
	<key>GCM_SENDER_ID</key>
	<string>611607906934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.logintest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>logintest-66f8f</string>
	<key>STORAGE_BUCKET</key>
	<string>logintest-66f8f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611607906934:ios:71ee60c71d5ab816836d57</string>
</dict>
</plist>